* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: rgb(255, 234, 245);
    background-image:
    linear-gradient(rgb(240, 161, 194) 1px, transparent 1px),
    linear-gradient(90deg, rgb(240, 161, 194) 1px, transparent 1px);
    background-size: 30px 30px;
    min-height: 100vh;
}

.create-header {
    background-color: rgb(246, 234, 255);
    padding: 1ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.create-header img {
    max-width: 15%;
}

.create-header span {
    max-width: 40%;
    margin: auto;
    padding: 1ch;
    border: rgb(236, 216, 255) solid;
    border-radius: 20px;
    background-color: rgb(236, 216, 255);
}

.create-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1ch;
}

.create-nav a {
    max-width: 30%;
    background-color: rgb(233, 107, 158);
    padding: 1ch;
    border: 3px solid rgb(221, 34, 109);
    border-radius: 10px;
    color: white;
}

.create-nav a:hover {
    cursor: pointer;
    background-color: rgb(221, 34, 109);
}

.form-section {
    max-width: 70%;
    margin: 1ch auto;
    background-color: rgb(255, 206, 213);
    border: 1px solid rgb(255, 206, 213);
    border-radius: 10px;
}

.create-form {
    background-color: white;
    margin: 1ch;
    padding: 1ch;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

input:focus {
    border: 3px solid #ffd5ef;
    transition: 0.5s;
    outline: none;
  }

.submit-button {
    background-color: rgb(255, 227, 231);
    width: 15%;
    margin: 1ch;
    border: 3px solid rgb(245, 171, 182);
    border-radius: 5px;
    color: rgb(235, 88, 110);
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(235, 88, 110);
    color: rgb(255, 229, 233);
    border: 3px solid rgb(235, 88, 110);
}

/* .create-footer {
    margin-top: auto;
    background-color: rgb(222, 160, 221);
    text-align: center;
} */

